#pricing
{
    padding-top: 5%;
    padding-bottom: 5%;
}

#intro
{
    padding-top:4%;
    padding-bottom: 4%;
}

.brand-image
{
    
    width: 100%;
}
.navitem-mar
{
    font-size: 1.5rem;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.text1
{
    margin: 0 3% 0 3%;
}
.title{
    text-align: center;
    font-size: 1rem;

}
.announcement
{
    color: white;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.title-link{
    text-decoration: none;
    color: black;
}
.title-link:hover
{
    color: green;
}
.title2
{
    text-align: center;
    margin-bottom: 6%;
}
.gdsc-tkrcet-image

{
    padding-top: 4%;
    padding-bottom: 2.2%;
    width: 30%;
}
.title-h3
{
    padding-bottom:0%;
}
.title-para
{
    font-size:1.1rem;
    padding-top: 1.2%;
    padding-bottom: 1.8%;
    margin-left: 8%;
    margin-right: 8%;
}
hr
{
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
}
.button
{
    margin:0% 2% 0% 2% ;
}
.cardcontainer
{
    margin: 4% 7.7% 4% 7.7%;
}
.carditems
{
    text-align: center;
    margin-left:10%;
    margin-right:10%;
}
.card
{ 
    text-align: center;
    padding-bottom: 6%;
    margin: 5% 8% 5% 8%;
}
i{
    margin: 3% 0% 5% 0%;
}

.cardpara
{
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 7%;
}
.cardimage
{
    color: #4384f4;
}
.card-title
{
    font-size: 1.4rem;
}
.carouseltext1{
    margin-right: 5%;
}
.title-h3-team
{
    text-align: center;
    padding:5% 0% 5% 0%;
}
.profile-image
{
    border-radius: 50%;
    width: 50%;
    margin-bottom: 4.5%;
}
.icon{
    margin-left: 2%;
    margin-right: 2%;
}
a
{
    text-decoration: unset;
    color: unset;
}
.profile
{
    text-align: center;
    margin-bottom: 8%;
    padding-bottom: 10%;
}
h4
{
    text-align: center;
    font-size: 2.2rem;
    margin: 3% 0 1% 0;
}
.red:hover
{
    color: #DB4437;
}
.yellow:hover
{
    color: #F4B400;
}
.blue:hover
{
    color: #4384f4;
}
.green:hover
{
    color: #0F9D58;
}
.border
{
    border-radius: 5%;
}
.coloricon1
{
    color: white;
}
.coloricon1:hover
{
    color: #4384f4;
}
.items
{
    padding: 3% 5% 1% 5%;
}
h5
{
    font-size: 1.6rem;
}

.icon1
{
    margin: 0% 2% 0% 0%;
}

.bottomitem
{
    margin-top: 5%;
}